
////////////////////////////////////////

//Header

//Logo

.logo{
    height: 3.25rem;
    margin-left: 2rem;
}

//Search Input
.search{
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    @media only screen and (max-width: $bg-small) {
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-grey-light-2);
        &__input:focus{
            background-color: var(--color-grey-light-3);
            margin-left: -1rem;
        }
    }

    &__input{
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        border: none;
        background-color: var(--color-grey-light-2);
        border-radius: 100px;
        padding: .7rem 2rem;
        width: 90%;
        transition: all .5s;
        margin-right: -3.25rem;
        position: relative;
        z-index: 31;

        @media only screen and (max-width: $bg-small) {
            border-radius: 0;
        }

        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder{
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus ~ &__button{
        background-color: var(--color-grey-light-3);
    }

    &__button{
        border: none;
        background-color: var(--color-grey-light-2);
        transition: all .5s;
        position: relative;
        z-index: 32;
        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(2px);
        }
    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-3);
    }
}

.list-suggestions{
    list-style: none;
    width: 100%;
    position: absolute;
    top: 2rem;
    left: .5rem;
    background-color: var(--color-grey-light-2);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    z-index: 30;
    transform: translate(1rem, -3rem);
    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    @media only screen and (max-width: $bg-small) {
        left: 0;
        border-radius: 0;
    }
    

    &__item{
        font-size: 1.2rem;
        padding: 2rem 1.5rem 1rem 2.2rem;
        &:not(:first-child){
            padding: 1rem 1.5rem 1rem 2.2rem;
        }

        &:hover {
            background-color: var(--color-grey-dark-1);
            color: #fff;

            &:last-child{
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;

                @media only screen and (max-width: $bg-small) {
                    border-radius: 0;
                }
            }

            
            
        }
    }

    &__link:visited,
    &__link:link{
        color: var(--color-grey-dark-1);
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &::after {
            content: "\003e";
            display: block;
            margin-left: auto;
            color: var(--color-primary);
        }

    }

    &__item:hover &__link,
    &__item:hover &__link::after{
        color: #fff;
    }

    span {
        flex: 0 0 100%;
        order: 1;
        font-size: 1rem;
        font-weight: 700;
        color: var(--color-grey-light-4);
    }
}

.search__input:focus+.list-suggestions {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
}


//User profile

.user-nav{
    display: flex;
    align-self: stretch;

    & > * {
        cursor: pointer;
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }

    &>*:hover {
        background-color: var(--color-grey-light-2);
    }
    
    &__icon-box{
        position: relative;
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification{
        position: absolute;
        top: 1.5rem;
        right: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;


        &::before{
            content: "";
            height: 1.75rem;
            width: 1.75rem;
            border-radius: 50%;
            background-color: var(--color-primary);
            position: absolute;
            font-size: .8rem;
            font-weight: 400;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
        }
        &--1::before{
            content: "4";
        }

        &--2::before {
            content: "17";
        }

        &::after{
            content: "";
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            z-index: 1;
        }

    }

    &__icon-box:hover &__notification::after{
        display: none;
    }


    &__photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 2rem;
    }

    @media only screen and (max-width: $bg-mini) {
        display: none;
    }

}


////////////////////////////////////////

//Sidebar Navigation

//Sidebar

.side-nav{
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bg-medium) {
        margin-top: 0;
        display: flex;
    }

    @media only screen and (max-width: $bg-smallest) {
        font-size: 1rem;
    }

    &__item{
        position: relative;
        &:not(:last-child){
            margin-bottom: .5rem;

            @media only screen and (max-width: $bg-medium) {
                margin-bottom: 0;
            }
        }

        @media only screen and (max-width: $bg-medium) {
            flex: 1;
        }
    }

    &__item::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        background-color: var(--color-primary);
        height: 100%;
        transform: scaleY(0);
        transition: transform .2s,
                    width .2s cubic-bezier(1, 0, 0, 1) .2s;
    }

    

    &__item:hover::before{
        transform: scaleY(1);
        width: 100%;
    }

    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    

    &__item:active::before{
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited{
        text-transform: uppercase;
        text-decoration: none;
        color: var(--color-grey-light-1);
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;
        backface-visibility: hidden;

        display: flex;
        align-items: center;

        @media only screen and (max-width: $bg-medium) {
            justify-content: center;
            padding: 2rem;
        }

        @media only screen and (max-width: $bg-small) {
            flex-direction: column;
            padding: 1.5rem;
        }

        @media only screen and (max-width: $bg-smallest) {
            padding: 1rem;
        }
    }

    &__icon{
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 1.5rem;
        fill: currentColor;

        @media only screen and (max-width: $bg-small) {
            margin-right: 0;
            margin-bottom: .5rem;
        }
    }
}

//Footer

.copyright{
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;

    @media only screen and (max-width: $bg-medium) {
        display: none;
    }
}

////////////////////////////////////////

//Main Content

//Gallery

.gallery{
    display: flex;

    &__img{
        width: 100%;
        display: block;
    }
}

//Overview

.overview{
    display: flex;
    align-items: center;
    border-bottom: var(--line);
    background-color: #fff;

    &__heading{
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        letter-spacing: 1px;

        @media only screen and (max-width: $bg-smallest) {
            font-size: 2rem;
            padding: 1rem 2rem;
            font-weight: 700;
            margin-right: auto;
        }
    }

    &__stars{
        margin-right: auto;

        @media only screen and (max-width: $bg-smallest) {
            display: none;
        }
    }

    &__icon-star,
    &__icon-location{
        width: 1.75rem;
        height: 1.7rem;
        fill: var(--color-primary);
    }

    &__icon-location{
        margin-right: .5rem;
    }

    &__location{
        font-size: 1.2rem;
        display: flex;

        @media only screen and (max-width: $bg-smallest) {
            display: none;
        }
    }

    &__rating{
        margin-left: 3rem;
        background-color: var(--color-primary);
        padding: 0 2.25rem;
        align-self: stretch;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: $bg-smallest) {
            padding: 1.5rem;
        }
        
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: -3px;

        @media only screen and (max-width: $bg-smallest) {
            font-size: 4rem;
            margin-bottom: 0;
            line-height: 1;
        }
    }

    &__rating-count {
        font-size: .9rem;
        color: #fff;
        text-transform: uppercase;

        @media only screen and (max-width: $bg-smallest) {
            display: none;
        }
    }
}

////////////////////////////////////////

//Btn line

.btn-line {
    display: inline-block;
    font-size: inherit;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--color-primary);
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    cursor: pointer;
    transition: all .5s;

    & span{
        margin-left: 3px;
        transition: margin-left .2s;
    }

    &:hover {
        color: var(--color-grey-dark-1);

        span{
            margin-left: 7px;
        }
    }

    &:focus {
        animation: pulsate 1s infinite;
        background-color: transparent;
    }
}

@keyframes pulsate {
    0%{
        transform: scale(1);
        box-shadow: none;
    }

    50%{
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: .25);
    }

    100%{
        transform: scale(1);
        box-shadow: none;
    }
}


////////////////////////////////////////

// Detail


// Description
.paragraph:not(:last-child) {
    margin-bottom: 2rem;
}

.list{
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap;
}

.item{
    flex: 0 0 50%;
    margin-bottom: .7rem;
    display: flex;
    align-items: center;

    

    &::before{
        content: "";
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .7rem;

       
        background-image: url('../img/chevron-small-right.svg');
        background-size: cover; 

        @supports (-webkit-mask-image: url()) or (mask-image: url()){
            background-color: var(--color-primary);
            -webkit-mask-image: url('../img/chevron-small-right.svg');
            -webkit-mask-size: cover;
            mask-image: url('../img/chevron-small-right.svg');
            mask-size: cover;
            background-image: none;
        }

    }

    @media only screen and (max-width: $bg-smallest) {
        flex: 0 0 100%;
    }
}

.recommend{
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;

    &__paragraph{
        margin-right: auto;
    }

    &__friends{
        display: flex;
    }

    &__img{
        box-sizing: content-box;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;
        margin-right: -1.5rem;
    }
}


// Testinomials

.review{
    background-color: #fff;
    padding: 3rem;
    margin-bottom: 4.5rem;
    box-shadow: var(--shadow-light);
    position: relative;

    @media only screen and (max-width: $bg-small) {
        &{
            align-self: stretch;
            margin-bottom:3rem;
        }
    }


    &__text{
        margin-bottom: 2rem;
        z-index: 2;
        position: relative;
    }

    &__user{
        display: flex;
        align-items: center;
        
    }

    &__img{
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 2rem;
    }

    &__user-box{
        margin-right: auto;
    }

    &__user-name{
        font-weight: 700;
        text-transform: uppercase;
    }

    &__user-date{
        font-size: .9rem;
    }

    &__rating{
        font-size: 2.2rem;
        color: var(--color-primary);
    }

    &::before{
        content: "\201C";
        position: absolute;
        top: -2.2rem;
        left: -1rem;
        font-size: 20rem;
        font-family: sans-serif;
        color: var(--color-grey-light-2);
        line-height: 1;
    }
}


// CTA

.cta{
    background-color: #fff;
    padding: 3.5rem 0;
    text-align: center;

    &__heading{
        font-size: 1.6rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 2.5rem;
    }
}

.btn{
    font-size: 1.4;
    text-transform: uppercase;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    border-radius: 100px;
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    backface-visibility: hidden;
    

    & > * {
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: all .5s;
    }

    &__invisible{
        position: absolute;
        top: -100%;
        left: 0;
        padding: 2rem 0rem;
    }

    &__visible{
        padding: 2rem 7.5rem;
    }

    &:hover{
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:focus{
        outline: none;
        animation: pulsate 1s infinite;
    }

    &:hover &__invisible {
        top: 0;
    }

    &:hover &__visible{
        transform: translateY(100%);
    }
}


////////////////////////////////////////

// Navigation

.navigation{
    display: none;
}

@media only screen and (max-width: $bg-mini){
    .navigation {

        display: block;

        &__input-checkbox {
            display: none;
        }

        &__button {
            position: absolute;
            right: 1.5rem;
            top: 1.25rem;
            height: 3rem;
            width: 3rem;
            z-index: 41;
            outline: none;
        }

        &__icon {
            position: relative;
            margin-top: 1.5rem;
            z-index: 40;
        }

        &__icon,
        &__icon::before,
        &__icon::after {
            display: inline-block;
            background-color: var(--color-primary);
            height: 3px;
            width: 3rem;
        }

        &__icon::before,
        &__icon::after {
            content: "";
            position: absolute;
            right: 0;
            transition: all .5s;
        }

        &__icon::before {
            top: .8rem;
        }

        &__icon::after {
            top: -.8rem;
        }

        &__background{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            right: 0rem;
            top: 0rem;
            background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
            z-index: 35;
            height: 100%;
            width: 0;
            overflow: hidden;
            transform: translate(100%);
            transition: all .5s;
        }

        &__menu {
            height: 100%;
            width: 60%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 40;
            opacity: 0;
            visibility: hidden;
            width: 0;
            overflow: hidden;
            transition: all .5s;
        }

        &__list{
            list-style: none;
            align-items: center;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        &__item{
            margin: 1.5rem 0;
            width: 100%;
        }

        &__link:visited,
        &__link:link{
            font-size: 2.6rem;
            font-weight: 700;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 2rem;
            background-image: linear-gradient(-120deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 0%;
            background-repeat: no-repeat;
            backface-visibility: hidden;
            transition: all .3s;

            &:hover{
                color: var(--color-primary);
                background-size: 211%;
            }
        }

        &__svg{
            width: 3rem;
            height: 3rem;
            fill: currentColor;
            margin-right: 2.5rem;
        }

        &__copyright{
            font-size: 1.6rem;
            color: #fff;
            text-align: center;
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%, 5%);
        }

        &__input-checkbox:checked~&__button &__icon {
            background-color: transparent;
        }

        &__input-checkbox:checked~&__button &__icon::before {
            transform: rotate(135deg);
            top: 0;
            background-color: #fff;
        }

        &__input-checkbox:checked~&__button &__icon::after {
            transform: rotate(-135deg);
            top: 0;
            background-color: #fff;
        }

        &__input-checkbox:checked~&__background {
            opacity: 1;
            visibility: visible;
            width: 60%;
            transform: translate(0)
        }

        &__input-checkbox:checked~&__menu {
            opacity: 1;
            visibility: visible;
            width: 60%;
        }
        

        

    }
}
